* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #10131c;
}
.wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  width: 70px;
  height: 70px;
  background: #212531;
  border-radius: 10px;
  transition: 0.5s;
}

.wrapper:hover {
  width: 78px;
  height: 78px;
}

.navigation {
  position: absolute;
  width: 70px;
  height: 70px;
  background: #212531;
  border-radius: 10px;
  cursor: pointer;
  transition: width 0.5s 0.8s, height 0.5s 0.8s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation.active {
  width: 200px;
  height: 200px;
  transition-delay: 0s;
}
.navigation span {
  position: absolute;
  width: 7px;
  height: 7px;
  background: #fff;
  border-radius: 50%;
  transition: transform 0.5s, width 0.5s, height 0.5s, background 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(calc(12px * var(--x)), calc(12px * var(--y)));
  transition-delay: calc(0.1s * var(--i));
}
.navigation.active span {
  background: #333849;
  width: 45px;
  height: 45px;
  transform: translate(calc(60px * var(--x)), calc(60px * var(--y)));
}

.navigation span ion-icon {
  transition: 0.5s;
  font-size: 0em;
  transition-delay: 0.2s;
}
.navigation.active span ion-icon {
  font-size: 1.35em;
  color: #fff;
}
.navigation.active span:hover ion-icon {
  color: cyan;
  filter: drop-shadow(0 0 2px cyan) drop-shadow(0 0 5px cyan)
    drop-shadow(0 0 15px cyan);
}
